.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.project-container{
    margin-top: 50px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
    align-items: start;
    place-content: center;
}

.each-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.each-project > h4 {
    width: max-content;
}

@media (min-width: 431px) {
    .each-project {
        height: 225px;
    }
}

.each-project > p {
    text-align: left;
}

.buttons {
    margin-top: auto;
    width: 100%;
    display: flex;
}


.buttons > a {
    margin-right: 0.5rem;
    background-color: var(--main-color);
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.2rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: all 0.3s;
}

.buttons > a:hover {
    background-color: var(--primary-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.each-project > img {
    width: 350px;
    height: auto;
}

.link-to-all-projects {
    display:inline;
    margin-top: 2rem;
    transition: all 0.3s;
}

.link-to-all-projects:hover {
    color: var(--primary-color);
}