
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 1rem 1.3rem;
  line-height: 1.5;
  font-family: "Montserrat", serif;
  color: black;
  background-color: white;
}

ul { 
list-style-type: none;
padding: 0;  
margin: 0;  
}

img {
width: 250px;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  margin: 1rem 0;
  border: none; 
  background-color: gray; 
  height: 1px;
  border-radius: 5px;
}


@media screen and (min-width: 450px) {

  #root {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5x);
  transform: translateX(-100%);
  transition: all 1s ;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}