
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}


:root {
  --main-color: #0a1930;
  --primary-color: #81efdd;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--lightest-slate);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 1rem 1.3rem;
  line-height: 1.5;
  font-family: "Montserrat", serif;
  color: var(--slate);
  background-color: var(--main-color) ;
  
}



section {
  height: calc(100vh - 24px);
}

ul { 
list-style-type: none;
padding: 0;  
margin: 0;  
}

img {
 width: 250px;
}

a {
  text-decoration: none;
  color: var(--lightest-slate);
}


a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.fa-house {
  font-size: 1.5rem; 
}

hr {
  margin: 1rem 0;
  border: none; 
  background-color: rgb(255, 255, 255); 
  height: 1px;
  border-radius: 5px;
}


@media screen and (min-width: 450px) {

  #root {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5x);
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}