.about-me {
    height: calc(100vh - 24px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bio > p {
    margin: 1rem 0;
    text-align: justify;
}

.tech-skills > ul {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 3rem;
}


i {
    font-size: 2rem;
}


@media screen and (min-width: 450px) {
    .about-me {
        width: 450px;
    }
}
